body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

img {
	max-width: 100%;
}

.indicator-item.active {
	background-color: #4a148c!important;
}

#title {
	color: #4a148c!important;
	font-weight: 300;
}